<!-- <%- include('../partials/header') %>

<div id="edit-container">
  <% if (user?._id.equals(c.user)) { %>
  <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <textarea id="myTextarea" type="text" name="content"><%= c.content %>
    </textarea>
    <script>
      tinymce.init({
        selector: 'textarea#myTextarea',
        plugins: 'autolink lists link image charmap print preview',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
      });
    </script>
      <br/ >
      <button class="post-buttons" type="submit">Save Changes</button>
  </form>
  <% } %>
</div>

<%- include('../partials/footer') %> -->