<%- include('./partials/header') %>

<div class="index-container">
    <img src="/images/vecteezy_watercolor-pastel-cloud-background_9360076.jpg" alt="cloud-pink" />
    <p id="welcome-page">Welcome to <%= title %>!</p>
    <p id="message">"I can be Giggity. I can be Goo." - Quagmire, Glenn (2013).</p>
</div>
<%- include('./partials/footer') %>
