<%- include('./partials/header') %>

    <p id="welcome-page">Welcome to <%= title %>!</p>
    <p id="message">"I can be Giggity. I can be Goo." - Quagmire, Glenn (2013).</p>

<%- include('./partials/footer') %>
