* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #001219;
}

body {
  background-color: #F2CCC3;
  margin: 0;
  height: 50vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #E78F8E;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #FFE6E8;
}

nav > a.active {
  color: white;
  cursor: default;
}

#comment, a, #delete-post-btn {
  border-radius: 4px;
  background-color: #ACD8AA;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

 a:hover, #comment:hover, #delete-post-btn {
  background-color: #FFE6E8;
}

a, button, #comment, #delete-post-btn {
  box-shadow: inset 0 0 0 0 #F48498;
  color: #001219;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
 }

 a:hover, button:hover, #comment:hover, #delete-post-btn:hover  {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #F48498;
 }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.user-comments {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-comments img {
  border-radius: 50%;
  height: 40px;
}

.allposts-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.add-post-container {
  width: 95%;
  margin: 0 auto;
}

h1 {
  margin-left: 0.9em;
}

input {
  margin-left: 2em;
}

p {
  margin-left: 2em;
  font-size: 1.5em;
}