* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #001219;
}

#gigit-title {
  height: 60px;
  padding-right: .5em;
  margin-top: 1em;
  
}

.index-container {
  position: relative;
  text-align: center;
  color: #F2CCC3;
}

.index-container img {
  height: 100vh;
  width: 100vw;
}

#welcome-page {
  position: absolute;
  top: 200px;
  left: 10vw;
  font-size: 3em;
}

#message {
  position: absolute;
  top: 50%;
  left: 60vw;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

body {
  background-color: #F2CCC3;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #E78F8E;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#show-page, #edit-container {
  margin-left: 2em;
}

.post-buttons, a {
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  box-shadow: inset 0 0 0 0 #E78F8E;
  color: black;
  padding: 0 .5em;
  margin: .5em;
  transition: color .5s ease-in-out, box-shadow .4s ease-in-out;
}

 a:hover, button:hover, #post-buttons:hover  {
  color: #fff;
  box-shadow: inset 300px 0 0 0 #E78F8E;
  background-color: #FFE6E8;
 }

 nav > a:hover:not(.active) {
  color: white;
  background-color: #ACD8AA;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  align-items: center;
  height: 15px;
}

.login img {
  height: 20px;
  align-items: center;
}

.allposts-container {
  margin-left: 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
}

.user-post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  font-size: .95em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.user-post img {
  border-radius: 50%;
  height: 40px;
  padding-right: .5em;
  margin-top: 1em;
}

.user-post-show img {
  border-radius: 50%;
  height: 20px;
  padding-right: .5em;
  margin-top: 0em;
}

.user-post-show {
  font-size: 12px;
}

#post-date {
  font-style: italic;
  font-size: .8em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 10px;
  
}

.user-post-content {
  width: 100%;
  margin-left: 5em;
}

.post-wrapper {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  width: 40vw;
  margin-left: 2em;
}

.likes-wrapper {
  display: flex;
  padding: 1em;
  justify-content:flex-start;
  width: 50vw;
  margin-left: -1em;
}

#post-title {
  font-size: 2em;
  padding: .3em 0;
}


.add-post-container {
  width: 95%;
  margin: 0 auto;
}

h1, h3 {
  margin-left: 1.1em;
}

p {
  margin-left: 2em;
  font-size: 1.2em;
}


/*
  SHOW PAGE
*/

.post-comment {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

#add-comment-form, #add-post-form {
  width: 85vw;
}


/*
  POST CARD
**/

.post-card {
  width: 85vw;
  box-shadow: 5px 5px black;
  padding: 1em 2em;
  background-color:#FFE6E8;
  margin-top: 1em;
  border: 3px solid black;
}

/*
NEW POST, EDIT POST
*/

#input-new-title, #edit-container {
  width: 85vw;
  margin-top: 1em;
}

