* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #001219;
}

#gigit-title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

body {
  background-color: #F2CCC3;
  margin: 0;
  height: 50vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #E78F8E;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #FFE6E8;
}

nav > a.active {
  color: white;
  cursor: default;
}

#show-page, #edit-container {
  margin-left: 2em;
}
#comment, a {
  border-radius: 4px;
  /* background-color: #ACD8AA; */
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

 a:hover, #comment:hover, #delete-post-btn {
  background-color: #FFE6E8;
}

a, #comment {
  box-shadow: inset 0 0 0 0 #F48498;
  color: #001219;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
 }

 a:hover, button:hover, #comment:hover, #delete-post-btn:hover  {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #F48498;
 }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}



.allposts-container {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem; */
  margin-left: 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
}

.user-post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  font-size: .95em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* border-bottom: 2px black solid; */ 
  

}

.user-post img {
  border-radius: 50%;
  height: 40px;
  padding-right: .5em;
}

#post-date {
  font-style: italic;
  font-size: .8em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30px;
  
}

.user-post-content {
  /* border-bottom: 2px black solid; */
  width: 100%;
  margin-left: 5em;
}

.post-wrapper {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  width: 20vw;
  margin-left: 2em;
}

#post-title {
  font-size: 2em;
  padding: .3em 0;
}

.post-buttons {
  padding: .5em;
  border-radius: 30px;
}

.add-post-container {
  width: 95%;
  margin: 0 auto;
}

h1 {
  margin-left: 0.9em;
}

p {
  margin-left: 2em;
  font-size: 1.2em;
}


/*
  SHOW PAGE
*/

.post-comment {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

#add-comment-form, #add-post-form {
  width: 85vw;
}


/*
  POST CARD
**/

.post-card {
  width: 85vw;
  box-shadow: 5px 5px black;
  padding: 1em 2em;
  background-color:#FFE6E8;


  border: 3px solid black;
}