<%- include('../partials/header') %>

<% if (user) { %>

<form action="/posts" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label>
  <br />
  <br />
  <label>Content:
    <textarea name="content" id="" cols="30" rows="5"></textarea>
  </label>
  <br />
  <br />
  <button id="comment" type="submit">Add Post</button>
</form>
<% } %>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>