<%- include('../partials/header') %>

<h2>Enter a New Post</h2>
<form action="/posts" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label>
  <br />
  <br />
  <label>Content:
    <textarea name="content" id="" cols="30" rows="5"></textarea>
  </label>
  <br />
  <br />
  <button type="submit">Add Post</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>